<% iclude  partials/_header %>



<div class="container">
  <div class="row mt-5">
      <div class="col-md-7"> 
          <table class="table table-bordered table-hover">
              <thead>
                  <tr>
                      <th>n°</th>
                      <th>title</th>
                      <th>category_id</th>
                      <th>category_name</th>
                      <th>Actions</th>

                  </tr>
              </thead>
              <tbody>
                  <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                        <tr>
                            <td><%= (i + 1) %></td>
                            <td><%= data[i].title %></td>
                            <td><%= data[i].category_id %></td>
                            <td><%= data[i].category_name %></td>
                            <td>
                                <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
                                <a href="/update/<%= data[i].id %>" class="btn btn-info">Delete</a>
                            </td>

                        </tr>
                         <% } %>
                        <% } %>
              </tbody>
          </table>
      </div> 
                    }
                  }
</div>
<div class="col-md-5">  

<div class="card">

<div class="card-body">
    <form action="/add" method="post">
        <div class="form-group">
            <input type="text" name="title" placeholder="Title" class="form-control">
        </div>
    
        <div class="form-group">
            <input type="text" name="category_id" placeholder="category_id" class="form-control">
    
            <div class="form-group">
                <input type="text" name="category_name" placeholder="category_name" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">
                Save Customer
            </button>
        </form>
</div>
</div>
<% include partials/_footer %>
